
#floating-panel {
    /*display: none;*/
    position: absolute;
    bottom: 40px;
    left: 10px;
    z-index: 5;
    background-color: rgba(20,20,20,0.5);
    padding: 8px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
    font-size:12px;
}
#map * {
    color: #333333;
}
