/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

* {
    font-family: 'Roboto', 'sans-serif';
    color: white;
}

input,button {
    font-size: 14px;
    border: 1px solid lightgreen;
    border-radius: 4px;
    padding: 12px;
}
input {
    color: black;
    background: white;
}
button {
    color: #90f090;
    background: white;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
    border-right: 1px solid lightgrey;
}

#mapWrapper {
    height: 100%;
    width: 60%;
    float: left;
}

#info {
    float:right;
    height: 100%;
    width: 40%;
    overflow: hidden;

    background: linear-gradient(to bottom right, #90eef0, #90f090); /* Standard syntax */
}

.margins {
    border-left: 1px solid grey;
    padding: 30px;
    height:100%;
}