/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

* {

    color: white;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
    width: 60%;
    float: left;
}

#info {
    float:right;
    height: 100%;
    width: 40%;
    overflow: hidden;
    background-image: url('assets/gradient.jpg') ;
    background-position: center;
}

.margins {
    margin: 30px;
}